@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;

.cs--welcome {
  @include default-type();

  margin-block-start: $spacing-09;
  padding-block-start: $spacing-05;

  @include breakpoint-down('md') {
    padding-inline: 0;
  }
}

.cs--welcome h1 {
  @include type-style('heading-07');
  margin-block-end: $spacing-08;
}

.cs--welcome h3 {
  margin-block-end: $spacing-05;
}

.cs--welcome p {
  margin-block-end: $spacing-05;
  margin-inline-end: $spacing-08;
}

.cs--welcome__about {
  margin-block-start: $spacing-07;
}

.cs--welcome__features,
.cs--welcome__tile,
.cs--welcome__heading {
  margin-block-start: $spacing-05;
}

.cs--welcome__tile {
  min-height: calc(4 * $spacing-10);
  height: calc(100% - $spacing-05);
}

.cs--welcome__tile--highlight {
  background-color: var(--cs--brand);
}
