@use '@carbon/react';
@use '@carbon/styles';
@use '@carbon/layout' as *;
@use '@ibm/plex/scss/ibm-plex.scss';

$font-prefix: '~@ibm/plex';

.carbon-starter {
  &--tiles {
    &__title {
      margin-top: $spacing-05;
    }
  }

  &--about {
    margin-top: $spacing-07;
  }

  &--features {
    margin-top: $spacing-05;
  }

  &--tile {
    margin-top: $spacing-05;
  }
}
